name: Check, Build and Test code
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
env:
  CARGO_TERM_COLOR: always
jobs:
  build:
    runs-on: self-hosted
    container:
      image: ubuntu:24.04
      env:
        DEBIAN_FRONTEND: noninteractive
    strategy:
      fail-fast: false
      matrix:
        rust-toolchain: [ "stable", "nightly-2025-05-22" ]
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: apt-get update && apt-get install --yes --no-install-recommends libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust-toolchain }}
          override: true
          default: ${{ matrix.rust-toolchain }}
          components: rustfmt, clippy, rust-src
          target: wasm32-unknown-unknown

      - uses: Leafwing-Studios/cargo-cache@v2

      - name: Make all
        run: make all
